.fitler--container {
  z-index: 99;
  position: relative;
  top: 30px;

  padding: 1em 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.fitler--container h3 {
  padding: 0;
  margin: 0;
  font-size: 20px;
  line-height: 1.2em;
  color: rgba(0,29,54,.8);
  font-weight: 700;
  display: none;
}
.fitler--container select {
  font-size: 16px;
  font-weight: 500;
  padding: 5px;
  margin: 0;
  width: 100%;
 /* max-width: 200px;*/
}

@media screen and (min-width: 550px) {
.fitler--container h3 {
    display: block;
  }
.fitler--container select {
    max-width: 250px;
  }
}